<h1 class="header">Log in</h1>

<div>
  <div class="loginForm">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :username %>
      <%= f.text_field :username %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Log in" %>
    <% end %>

    <p class="linkExtrude">New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>