<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Team:</strong>
  <%= @user.team %>
</p>

<p>
  <strong>Permission:</strong>
  <% if @user.permission == 0 %>
    Owner
  <% elsif @user.permission == 1 %>
    Admin
  <% else %>
    Member
  <% end %>
</p>

<% if session[:id].eql?(@user.id) %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Home', events_path %>  |
<%= link_to 'People', users_path %>
